body {
	background-color: #a4c0ff;
	color: #000000;
	margin: 0;
	padding: 0;
	font-size: 0.8em;
	font-family: Lucida, Verdana, Arial;
}

a,a:link {
	color: #be7240;
	text-decoration: underline;
}

a:visited {
	color: #cc00aa;
	text-decoration: underline;
}

a:hover {
	color: #ffff00;
	text-decoration: none;
}

#header {
	width: 100%;
	height: 150px;
	clear: both;
	background-color: #a4c0ff;
	background-image: url("../images/header.png");
	background-repeat: no-repeat;
	background-position: left;
}

#path {
	width: 100%;
	height: 20px;
	clear: both;
	background-color: #a4c0ff;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	padding-top: 3px;
	padding-left: 8px;
}

#navigazione {
	margin: 10px 0px 0px 0px;
	list-style: none;
	padding: 0px;
	float: left;
	width: 15%;
}

#navigazione li {
	text-indent: 1em;
}

#navigazione li:hover {
	background-color: #fbcb8c;
}

#content {
	background-color: #ddddff;
	margin-left: 16%;
	height: 400px;
	padding: 1em;
}

#footer {
	background-color: #a4c0ff;
	text-align: center;
	font-size: 0.7em;
	padding: 5px 0px 5px 0px;
	clear: both;
	width: 100%;
}