body {
	background-color: #fff;
}

#header {
	width: 100%;
	height: 150px;
	clear: both;
	background-image: url("../images/header.png");
	background-repeat: no-repeat;
	background-position: center;
}

#path {
	display: none;
}

#content {
	background: #fff;
	width: 95%;
	border: 0;
}

h1 {
	color: #000;
}

#footer img {
	display: none;
}

p.intro {
	background-color: #fff;
}